*{
    margin: 0px;
    padding: 0px;
}
.header1{
    height: 85px;
    width: 100%;
    float: left;
    position: fixed;
    background: #FFF;
    border-bottom: 1px solid silver;
}

.logo{
    height: 52%;
    width: 10.5%;
    float: left;
    margin: 18px 0px 0px 57px;
    background-color: #FFF;
    overflow: hidden;
}

.logo img {
    height: 100%;
    width: 100%;
    transition: transform .2s; 
}

.logo img:hover {
    transform: scale(1.1);
}


.form{
    height: 100%;
    width: 54%;
    float: left;
    margin: 0px 0px 0px 90px;
    background-color: #FFF;
}

.form select{
    padding: 15px 100px 15px 32px;
    margin: 10px 0px 0px 23px;
    border-radius: 5px;
    border:.2px solid silver
}

.form i{
    margin:35px 0px 0px 35px;
    position: absolute;
    font-size: 20px;
}

.form input{
    padding: 15px 150px 15px 50px;
    margin: 20px 0px 0px 10px;
    border-radius: 5px;
    border:.2px solid silver
}


.login{
    height: 100%;
    width: 10%;
    float: left;
    margin: 0px 0px 0px 140px;
    background-color: #FFF;
}

.login button{
    padding: 12px 25px 12px 25px;
    margin: 20px 0px 0px 20px;
    background-color: white;
    border-radius: 5px;
    border: 1px solid silver;
    cursor: pointer;
}

.main{
    height: 730px;
    width: 100%;
    float: left;
    background-color:#FFF;
    margin-top: 85px;
    display: flex;
}
.left-div{
    height: 100%;
    width: 50%;
    background-color: #FFF;
    float: left;
}

.h1{
    height: 10%;
    width: 72%;
    float: left;
    background-color:#FFF;
    color: black;
    margin: 50px 0px 0px 55px;
    font-family:Arial;
}

.left-services{
    height: 56%;
    width: 72%;
    float: left;
    background-color:#FFF;
    color: white;
    margin: 50px 0px 0px 55px;
    font-family:sans-serif;
    border-radius: 10px;
    border: 1px solid silver;
}

.ls-h4{
    height:5%;
    width: 50%;
    float: left;
    font-family: sans-serif;
    background-color:#FFF;
    margin: 35px 0px 0px 25px;
    color: rgb(78, 68, 68);
}

.left-services h4{
    font-family:sans-serif;
    /* margin: 40px 0px 0px 20px; */
}

.ls-im1{
    height: 28%;
    width: 100%;
    float: left;
    background-color:#FFF;
    margin: 30px 0px 0px 0px;
}

.ls-im1-div{
    height: 60%;
    width: 28%;
    float: left;
    background-color:#f0f2f5 ;
    margin: 2px 0px 0px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.ls-im1-div:hover{
    opacity: .8;
    background-color:#f0f2f5; 
}

.para1, .para2, .para3 {
    height: 30%;
    width: 28%;
    float: left;
    background-color:white;
    margin: 0px 0px 0px 20px;
    font-size: 13px;
    text-align: center;
    color: black;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.para1:hover, .para2:hover, .para3:hover {
    background-color:#f0f2f5;
    opacity: .8;
    border-bottom: 2px solid black;
    
}

.ls-im1-div img{
    margin: 5px 0px 0px 40px;
}

.ls-im2{
    height: 20%;
    width: 42%;
    float: left;
    background-color:#f0f2f5 ;
    margin: 15px 0px 0px 25px;
    border-radius: 5px;
    cursor: pointer;
    /* position: relative; */
    transition: background-color 0.3s ease;
}

.ls-im2-p{
    height: 100%;
    width: 70%;
    background-color:#f0f2f5;
    float: left;
    border-radius: 5px;
    /* color: black;
    margin: 30px 0px 0px 10px;
    font-size: 13px; */
}

.ls-im2-p p{
    font-size: 13px;
    margin: 25px 0px 0px 10px;
    color: black;
    font-family: Arial;
}

.main-imge{
    height: 100%;
    width: 30%;
    float: left;
    background-color: #f0f2f5;
    border-radius: 5px;
}

.main-imge img{
    margin: 13px 0px 0px 3px;
}
/* .ls-im2 img{
    margin: 0px 0px 50px 140px;
} */

.ls-im2:hover{
    opacity: .8;
    background-color:#f0f2f5; 
}

.review{
    height: 12%;
    width: 72%;
    float: left;
    /* background-color: rgb(61, 51, 199); */
    background-color: white;
    color: white;
    margin: 59px 0px 0px 55px;

}
.review1{
    height: 100%;
    width: 50%;
    float: left;
    background-color: black;
}

.review2{
    height: 100%;
    width: 50%;
    float: left;
    background-color: rgb(201, 36, 36);
}

.rev-img{
    height: 100%;
    width: 30%;
    float: left;
    background-color: #FFF;
}

.rev-img img{
    height: 50%;
    width: 60%;
    margin: 20px 0px 0px 15px;
}

.rev-info{
    height: 100%;
    width: 70%;
    float: left;
    background-color:white;
}

.rev-info h2{
    color: black;
    font-family: sans-serif;
    margin-top: 15px;
}

.rev-info p{
    margin-top: 5px;
    color:gray;
    font-family: Arial;
}

.right-div{
    height: 100%;
    width: 50%;
    /* background-color: rgb(11, 145, 197); */
    float: left;
}

.right-image{
    height: 84%;
    width: 92%;
    float: left;
    background-color: rgb(193, 238, 32);
    color: white;
    margin: 43px 0px 0px 0px;
    font-family:sans-serif;
    border-radius: 10px;
}

.right-image img{
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

.section3{
    height: 400px;
    width: 100%;
    float: left;
    background-color: white;
    /* border-bottom: 1px solid gray; */
}


.sec3-im-div1{
    height: 65%;
    width: 93%;
    float: left;
    /* background-color: aqua; */
    display: flex;
    overflow-x: scroll;
    scrollbar-width: none;
    margin: 90px 0px 0px 55px;
}

.sec3-im{
    height: 85%;
    min-width: 31.8%;
    width: 28%;
    float: left;
    margin: 20px 0px 0px 20px;
    border-radius: 10px;
    overflow: hidden;
    background-color: rgb(238, 87, 49);
}

.sec3-im img{
    height:100%;
    width: 100%;
    cursor: pointer;
     transition: 0.2s all ease-in-out;
}

.sec3-im1{
    height: 85%;
    min-width: 31.8%;
    width: 28%;
    float: left;
    margin: 20px 0px 0px 2px;
    border-radius: 10px;
    overflow: hidden;
    background-color: rgb(238, 87, 49);
}

.sec3-im1 img{
    height:100%;
    width: 100%;
    cursor: pointer;
    transition: 0.2s all ease-in-out;
}

.sec3-im img:hover, .sec3-im1 img:hover {
    transform: scale(1.1);
}

/* secctionk 4 */

.section4{
    height: 400px;
    width: 100%;
    float: left;
    background-color: white;
    /* border-bottom: 1px solid gray; */
}

.sec4-head{
    height: 10%;
    width: 30%;
    font-family: Arial;
    float: left;
    margin: 20px 0px 0px 55px;
    /* background-color: rgb(158, 14, 14); */
}

.sec4-im-div1{
    height: 75%;
    width: 93%;
    float: left;
    /* background-color: rgb(166, 255, 0); */
    display: flex;
    overflow-x: scroll;
    scrollbar-width: none;
    margin: 5px 0px 0px 55px;
}

.sec4-imag{
    height: 85%;
    min-width: 100%;
    width: 28%;
    float: left;
    margin: 0px 0px 0px px;
    border-radius: 10px;
    overflow: hidden;
    /* background-color: rgb(238, 87, 49); */
}

.sec3-para{
    /* margin-top: 5px; */
    font-family: Arial;
    color: rgb(63, 56, 56);
    font-weight: bolder;
    /* height: 10%; */
    float: left;
    margin: 20px 0px 0px 0px ;
    /* background-color: blueviolet; */
}

.sec4-im{
    height: 92%;
    min-width: 18.5%;
    width: 28%;
    float: left;
    margin: 20px 0px 0px 20px;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    /* background-color: rgb(238, 87, 49); */
}

.sec4-im img{
    height:100%;
    width: 100%;
    cursor: pointer;
     transition: 0.2s all ease-in-out;
}

.sec4-im1{
    height: 92%;
    min-width: 18.5%;
    /* width: 28%; */
    float: left;
    margin: 20px 0px 0px 2px;
    border-radius: 10px;
    overflow: hidden;
    /* background-color: aqua; */
}

.sec4-im1 img{
    height:100%;
    width: 100%;
    cursor: pointer;
    transition: 0.2s all ease-in-out;
}

.sec4-im img:hover, .sec4-im1 img:hover {
    transform: scale(1.1);
}


/* secctionk 5 */

.section5{
    height: 450px;
    width: 100%;
    float: left;
    /* background-color:pink; */
    /* border-bottom: 1px solid gray; */
}

.sec5-head{
    height: 10%;
    width: 30%;
    font-family: Arial;
    float: left;
    margin: 20px 0px 0px 55px;
    /* background-color: rgb(158, 14, 14); */
}

.sec5-im-div1{
    height: 84%;
    width: 93%;
    float: left;
    /* background-color: rgb(166, 255, 0); */
    display: flex;
    overflow-x: scroll;
    scrollbar-width: none;
    margin: 5px 0px 0px 55px;
}

.sec5-imag{
    height: 67%;
    min-width: 100%;
    width: 28%;
    float: left;
    margin: 0px 0px 0px px;
    border-radius: 10px;
    overflow: hidden;
    /* background-color: rgb(238, 87, 49); */
}

.sec5-para{
    /* margin-top: 5px; */
    font-family: Arial;
    /* height: 10%; */
    float: left;
    margin: 15px 0px 0px 0px ;
    /* background-color: blueviolet; */
}
.sec5-review{
    height: 20%;
    width: 100%;
    float: left;
    /* background-color: darkorange; */
}
.sec5-para-font{
    float: left;
    font-size: 10px;
    margin: 15px 0px 0px 0px;
    /* background-color: yellow; */
}
.sec5-para1{
    font-family: Arial;
    /* height: 10%;
    width: 20%; */
    float: left;
    font-size: small;
    margin: 15px 0px 0px 3px ;
    /* background-color: blueviolet; */
}

.sec5-im{
    height: 92%;
    min-width: 18.5%;
    width: 28%;
    float: left;
    margin: 20px 0px 0px 20px;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    /* background-color: rgb(238, 87, 49); */
}

.sec5-im img{
    height:100%;
    width: 100%;
    cursor: pointer;
     transition: 0.2s all ease-in-out;
}

.sec5-im1{
    height: 92%;
    min-width: 18.5%;
    /* width: 28%; */
    float: left;
    margin: 20px 0px 0px 2px;
    border-radius: 10px;
    overflow: hidden;
    /* background-color: aqua; */
}

.sec5-im1 img{
    height:100%;
    width: 100%;
    cursor: pointer;
    transition: 0.2s all ease-in-out;
}

.sec5-im img:hover, .sec5-im1 img:hover {
    transform: scale(1.1);
}

/* section 6 */

.sec6{
    height: 550px;
    width: 100%;
    float: left;
    /* background-color: aqua; */
}

.sec6-im{
    height: 75%;
    width: 91.5%;
    float: left;
    background-color: black;
    margin: 65px 0px 0px 55px;
    overflow: hidden;
}

.sec6-im img{
    height: 100%;
    width: 100%;
    cursor: pointer;
    transition: 0.2s all ease-in-out;
}

.sec6-im img:hover{
    transform: scale(1.02);
}


/* section 7 */

.section7{
    height: 450px;
    width: 100%;
    float: left;
    /* background-color: rgb(110, 196, 11); */
    /* border-bottom: 1px solid gray; */
}

.sec7-head{
    height: 10%;
    width: 30%;
    font-family: Arial;
    float: left;
    margin: 30px 0px 0px 55px;
    /* background-color: rgb(158, 14, 14); */
}

.sec7-im-div1{
    height: 75%;
    width: 93%;
    float: left;
    /* background-color: rgb(166, 255, 0); */
    display: flex;
    overflow-x: scroll;
    scrollbar-width: none;
    margin: 5px 0px 0px 55px;
}

.sec7-imag{
    height: 70%;
    min-width: 100%;
    width: 100%;
    float: left;
    margin: 50px 0px 0px 0px;
    /* border-bottom-left-radius: 10px;
    border-bottom-left-radius: 10px; */
    overflow: hidden;
    /* background-color: rgb(238, 87, 49); */
}

.sec7-para{
    /* margin-top: 5px; */
    font-family: Arial;
    color: rgb(63, 56, 56);
    font-weight: bolder;
    /* height: 10%; */
    float: left;
    margin: 20px 0px 0px 25px ;
    /* background-color: blueviolet; */
}

.sec7-im{
    height: 83%;
    min-width: 18.5%;
    width: 28%;
    float: left;
    margin: 20px 0px 0px 20px;
    border-radius: 10px;
    border: 1px solid silver;
    overflow: hidden;
    cursor: pointer;
    /* background-color: rgb(238, 87, 49); */
}

.sec7-im img{
    height:100%;
    width: 100%;
    cursor: pointer;
     transition: 0.2s all ease-in-out;
}

.sec7-im1{
    height: 83%;
    min-width: 18.5%;
    width: 28%;
    float: left;
    margin: 20px 0px 0px 2px;
    border-radius: 10px;
    border: 1px solid silver;
    overflow: hidden;
    cursor: pointer;
    /* background-color: rgb(238, 87, 49); */
}

.sec7-im1 img{
    height:100%;
    width: 100%;
    cursor: pointer;
    transition: 0.2s all ease-in-out;
}

.sec7-im img:hover, .sec7-im1 img:hover {
    transform: scale(1.04);
}

 /* section 8 */

 .section8{
    height: 450px;
    width: 100%;
    float: left;
    /* background-color: yellow; */
    /* border-bottom: 1px solid gray; */
}

.sec8-head{
    height: 10%;
    width: 30%;
    font-family: Arial;
    float: left;
    margin: 30px 0px 0px 55px;
    /* background-color: rgb(158, 14, 14); */
}

.sec8-im-div1{
    height: 75%;
    width: 93%;
    float: left;
    /* background-color: rgb(166, 255, 0); */
    display: flex;
    overflow-x: scroll;
    scrollbar-width: none;
    margin: 5px 0px 0px 55px;
}

.sec8-imag{
    height: 70%;
    min-width: 100%;
    width: 100%;
    float: left;
    margin: 50px 0px 0px 0px;
    /* border-bottom-left-radius: 10px;
    border-bottom-left-radius: 10px; */
    overflow: hidden;
    /* background-color: rgb(238, 87, 49); */
}

.sec8-para{
    /* margin-top: 5px; */
    font-family: Arial;
    color: rgb(63, 56, 56);
    font-weight: bolder;
    /* height: 10%; */
    float: left;
    margin: 20px 0px 0px 25px ;
    /* background-color: blueviolet; */
}

.sec8-im{
    height: 83%;
    /* min-width: 18.5%; */
    width: 18.5%;
    float: left;
    margin: 20px 0px 0px 20px;
    border-radius: 10px;
    border: 1px solid silver;
    overflow: hidden;
    cursor: pointer;
    /* background-color: rgb(238, 87, 49); */
}

.sec8-im img{
    height:100%;
    width: 100%;
    cursor: pointer;
     transition: 0.2s all ease-in-out;
}

.sec8-im1{
    height: 83%;
    /* min-width: 18.5%; */
    width: 18.5%;
    float: left;
    margin: 20px 0px 0px 2px;
    border-radius: 10px;
    border: 1px solid silver;
    overflow: hidden;
    cursor: pointer;
    /* background-color: rgb(238, 87, 49); */
}

.sec8-im1 img{
    height:100%;
    width: 100%;
    cursor: pointer;
    transition: 0.2s all ease-in-out;
}

.sec8-im img:hover, .sec8-im1 img:hover {
    transform: scale(1.04);
}

/* section 9 */

.sec9{
    height: 550px;
    width: 100%;
    float: left;
    /* background-color: aqua; */
}

.sec9-im{
    height: 75%;
    width: 91.5%;
    float: left;
    background-color: black;
    margin: 65px 0px 0px 55px;
    overflow: hidden;
}

.sec9-im img{
    height: 100%;
    width: 100%;
    cursor: pointer;
    transition: 0.2s all ease-in-out;
}

.sec9-im img:hover{
    transform: scale(1.02);
}

 /* section 10 */

 .section10{
    height: 450px;
    width: 100%;
    float: left;
    /* background-color: yellow; */
    /* border-bottom: 1px solid gray; */
}

.sec10-head{
    height: 10%;
    width: 30%;
    font-family: Arial;
    float: left;
    margin: 30px 0px 0px 55px;
    /* background-color: rgb(158, 14, 14); */
}

.sec10-im-div1{
    height: 75%;
    width: 92%;
    float: left;
    /* background-color: rgb(166, 255, 0); */
    display: flex;
    overflow-x: scroll;
    scrollbar-width: none;
    margin: 5px 0px 0px 55px;
}

.sec10-imag{
    height: 70%;
    min-width: 100%;
    width: 100%;
    float: left;
    margin: 50px 0px 0px 0px;
    /* border-bottom-left-radius: 10px;
    border-bottom-left-radius: 10px; */
    overflow: hidden;
    /* background-color: rgb(238, 87, 49); */
}

.sec10-para{
    /* margin-top: 5px; */
    font-family: Arial;
    color: rgb(63, 56, 56);
    font-weight: bolder;
    /* height: 10%; */
    float: left;
    margin: 20px 0px 0px 25px ;
    /* background-color: blueviolet; */
}

.sec10-im{
    height: 83%;
    /* min-width: 18.5%; */
    width: 18.5%;
    float: left;
    margin: 20px 0px 0px 20px;
    border-radius: 10px;
    border: 1px solid silver;
    overflow: hidden;
    cursor: pointer;
    /* background-color: rgb(238, 87, 49); */
}

.sec10-im img{
    height:100%;
    width: 100%;
    cursor: pointer;
     transition: 0.2s all ease-in-out;
}

.sec10-im1{
    height: 83%;
    /* min-width: 18.5%; */
    width: 18.5%;
    float: left;
    margin: 20px 0px 0px 2px;
    border-radius: 10px;
    border: 1px solid silver;
    overflow: hidden;
    cursor: pointer;
    /* background-color: rgb(238, 87, 49); */
}

.sec10-im1 img{
    height:100%;
    width: 100%;
    cursor: pointer;
    transition: 0.2s all ease-in-out;
}

.sec10-im img:hover, .sec10-im1 img:hover {
    transform: scale(1.04);
}

/* section 11 */

.sec11{
    height: 550px;
    width: 100%;
    float: left;
    /* background-color: aqua; */
}

.sec11-im{
    height: 75%;
    width: 92%;
    float: left;
    /* background-color: black; */
    margin: 65px 0px 0px 55px;
    overflow: hidden;
}

.sec11-im img{
    height: 100%;
    width: 100%;
    cursor: pointer;
    transition: 0.2s all ease-in-out;
}

.sec11-im img:hover{
    transform: scale(1.02);
}

/* section 7 */

.section12{
    height: 450px;
    width: 100%;
    float: left;
    /* background-color: rgb(110, 196, 11); */
    /* border-bottom: 1px solid gray; */
}

.sec12-head{
    height: 10%;
    width: 30%;
    font-family: Arial;
    float: left;
    margin: 30px 0px 0px 55px;
    /* background-color: rgb(158, 14, 14); */
}

.sec12-im-div1{
    height: 75%;
    width: 93%;
    float: left;
    /* background-color: rgb(166, 255, 0); */
    display: flex;
    overflow-x: scroll;
    scrollbar-width: none;
    margin: 5px 0px 0px 55px;
}

.sec12-imag{
    height: 70%;
    min-width: 100%;
    width: 100%;
    float: left;
    margin: 50px 0px 0px 0px;
    /* border-bottom-left-radius: 10px;
    border-bottom-left-radius: 10px; */
    overflow: hidden;
    /* background-color: rgb(238, 87, 49); */
}

.sec12-para{
    /* margin-top: 5px; */
    font-family: Arial;
    color: rgb(63, 56, 56);
    font-weight: bolder;
    /* height: 10%; */
    float: left;
    margin: 20px 0px 0px 25px ;
    /* background-color: blueviolet; */
}

.sec12-im{
    height: 83%;
    min-width: 18.5%;
    width: 28%;
    float: left;
    margin: 20px 0px 0px 20px;
    border-radius: 10px;
    border: 1px solid silver;
    overflow: hidden;
    cursor: pointer;
    /* background-color: rgb(238, 87, 49); */
}

.sec12-im img{
    height:100%;
    width: 100%;
    cursor: pointer;
     transition: 0.2s all ease-in-out;
}

.sec12-im1{
    height: 83%;
    min-width: 18.5%;
    width: 28%;
    float: left;
    margin: 20px 0px 0px 2px;
    border-radius: 10px;
    border: 1px solid silver;
    overflow: hidden;
    cursor: pointer;
    /* background-color: rgb(238, 87, 49); */
}

.sec12-im1 img{
    height:100%;
    width: 100%;
    cursor: pointer;
    transition: 0.2s all ease-in-out;
}

.sec12-im img:hover, .sec12-im1 img:hover {
    transform: scale(1.04);
}

/* secctionk 13 */

.section13{
    height: 450px;
    width: 100%;
    float: left;
    /* background-color:pink; */
    /* border-bottom: 1px solid gray; */
}

.sec13-head{
    height: 10%;
    width: 30%;
    font-family: Arial;
    float: left;
    margin: 20px 0px 0px 55px;
    /* background-color: rgb(158, 14, 14); */
}

.sec13-im-div1{
    height: 84%;
    width: 93%;
    float: left;
    /* background-color: rgb(166, 255, 0); */
    display: flex;
    overflow-x: scroll;
    scrollbar-width: none;
    margin: 5px 0px 0px 55px;
}

.sec13-imag{
    height: 67%;
    min-width: 100%;
    width: 28%;
    float: left;
    margin: 0px 0px 0px px;
    border-radius: 10px;
    overflow: hidden;
    /* background-color: rgb(238, 87, 49); */
}

.sec13-para{
    /* margin-top: 5px; */
    font-family: Arial;
    /* height: 10%; */
    float: left;
    margin: 15px 0px 0px 0px ;
    /* background-color: blueviolet; */
}
.sec13-review{
    height: 20%;
    width: 100%;
    float: left;
    /* background-color: darkorange; */
}
.sec13-para-font{
    float: left;
    font-size: 10px;
    margin: 15px 0px 0px 0px;
    /* background-color: yellow; */
}
.sec13-para1{
    font-family: Arial;
    /* height: 10%;
    width: 20%; */
    float: left;
    font-size: small;
    margin: 15px 0px 0px 3px ;
    /* background-color: blueviolet; */
}

.sec13-im{
    height: 92%;
    min-width: 18.5%;
    width: 28%;
    float: left;
    margin: 20px 0px 0px 20px;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    /* background-color: rgb(238, 87, 49); */
}

.sec13-im img{
    height:100%;
    width: 100%;
    cursor: pointer;
     transition: 0.2s all ease-in-out;
}

.sec13-im1{
    height: 92%;
    min-width: 18.5%;
    /* width: 28%; */
    float: left;
    margin: 20px 0px 0px 2px;
    border-radius: 10px;
    overflow: hidden;
    /* background-color: aqua; */
}

.sec13-im1 img{
    height:100%;
    width: 100%;
    cursor: pointer;
    transition: 0.2s all ease-in-out;
}

.sec13-im img:hover, .sec5-im1 img:hover {
    transform: scale(1.1);
}


/* section 14 */

.section14{
    height: 450px;
    width: 100%;
    float: left;
    /* background-color: yellow; */
    /* border-bottom: 1px solid gray; */
}

.sec14-head{
    height: 10%;
    width: 30%;
    font-family: Arial;
    float: left;
    margin: 30px 0px 0px 55px;
    /* background-color: rgb(158, 14, 14); */
}

.sec14-im-div1{
    height: 75%;
    width: 93%;
    float: left;
    /* background-color: rgb(166, 255, 0); */
    display: flex;
    overflow-x: scroll;
    scrollbar-width: none;
    margin: 5px 0px 0px 55px;
}

.sec14-imag{
    height: 70%;
    min-width: 100%;
    width: 100%;
    float: left;
    margin: 50px 0px 0px 0px;
    /* border-bottom-left-radius: 10px;
    border-bottom-left-radius: 10px; */
    overflow: hidden;
    /* background-color: rgb(238, 87, 49); */
}

.sec14-para{
    /* margin-top: 5px; */
    font-family: Arial;
    color: rgb(63, 56, 56);
    font-weight: bolder;
    /* height: 10%; */
    float: left;
    margin: 20px 0px 0px 25px ;
    /* background-color: blueviolet; */
}

.sec14-im{
    height: 83%;
    /* min-width: 18.5%; */
    width: 18.5%;
    float: left;
    margin: 20px 0px 0px 20px;
    border-radius: 10px;
    border: 1px solid silver;
    overflow: hidden;
    cursor: pointer;
    /* background-color: rgb(238, 87, 49); */
}

.sec14-im img{
    height:100%;
    width: 100%;
    cursor: pointer;
     transition: 0.2s all ease-in-out;
}

.sec14-im1{
    height: 83%;
    /* min-width: 18.5%; */
    width: 18.5%;
    float: left;
    margin: 20px 0px 0px 2px;
    border-radius: 10px;
    border: 1px solid silver;
    overflow: hidden;
    cursor: pointer;
    /* background-color: rgb(238, 87, 49); */
}

.sec14-im1 img{
    height:100%;
    width: 100%;
    cursor: pointer;
    transition: 0.2s all ease-in-out;
}

.sec14-im img:hover, .sec8-im1 img:hover {
    transform: scale(1.04);
}

/* section 15 */

.sec15{
    height: 550px;
    width: 100%;
    float: left;
    /* background-color: aqua; */
}

.sec15-im{
    height: 75%;
    width: 92%;
    float: left;
    background-color: black;
    margin: 65px 0px 0px 55px;
    overflow: hidden;
}

.sec15-im img{
    height: 100%;
    width: 100%;
    cursor: pointer;
    transition: 0.2s all ease-in-out;
}

.sec15-im img:hover{
    transform: scale(1.02);
}


/* section 16 */

.section16{
    height: 450px;
    width: 100%;
    float: left;
    /* background-color: yellow; */
    /* border-bottom: 1px solid gray; */
}

.sec16-head{
    height: 10%;
    width: 30%;
    font-family: Arial;
    float: left;
    margin: 30px 0px 0px 55px;
    /* background-color: rgb(158, 14, 14); */
}

.sec16-im-div1{
    height: 75%;
    width: 93%;
    float: left;
    /* background-color: rgb(166, 255, 0); */
    display: flex;
    overflow-x: scroll;
    scrollbar-width: none;
    margin: 5px 0px 0px 55px;
}

.sec16-imag{
    height: 70%;
    min-width: 100%;
    width: 100%;
    float: left;
    margin: 50px 0px 0px 0px;
    /* border-bottom-left-radius: 10px;
    border-bottom-left-radius: 10px; */
    overflow: hidden;
    /* background-color: rgb(238, 87, 49); */
}

.sec16-para{
    /* margin-top: 5px; */
    font-family: Arial;
    color: rgb(63, 56, 56);
    font-weight: bolder;
    /* height: 10%; */
    float: left;
    margin: 20px 0px 0px 25px ;
    /* background-color: blueviolet; */
}

.sec16-im{
    height: 83%;
    /* min-width: 18.5%; */
    width: 18.5%;
    float: left;
    margin: 20px 0px 0px 20px;
    border-radius: 10px;
    border: 1px solid silver;
    overflow: hidden;
    cursor: pointer;
    /* background-color: rgb(238, 87, 49); */
}

.sec16-im img{
    height:100%;
    width: 100%;
    cursor: pointer;
     transition: 0.2s all ease-in-out;
}

.sec16-im1{
    height: 83%;
    /* min-width: 18.5%; */
    width: 18.5%;
    float: left;
    margin: 20px 0px 0px 2px;
    border-radius: 10px;
    border: 1px solid silver;
    overflow: hidden;
    cursor: pointer;
    /* background-color: rgb(238, 87, 49); */
}

.sec16-im1 img{
    height:100%;
    width: 100%;
    cursor: pointer;
    transition: 0.2s all ease-in-out;
}

.sec16-im img:hover, .sec16-im1 img:hover {
    transform: scale(1.04);
}

.sec17{
    height: 473px;
    width: 100%;
    float: left;
    background-color:rgb(237, 237, 237);;
}

.sec17-main{
    height: 70%;
    width: 91%;
    float: left;
    /* background-color: pink; */
    margin: 32px 0px 0px 70px;
}

.sec17-im1{
    height: 13%;
    width: 100%;
    float: left;
    /* background-color: aqua; */
    margin-top: 10px;
}

.sec17-im2{
    height: 100%;
    width: 12%;
    float: left;
    /* background-color: rgb(20, 165, 57); */
}

.sec17-im2 img{
    height: 100%;
    width: 100%;
}

.sec17-main2{
    height: 68%;
    width: 100%;
    float: left;
    /* background-color: aqua; */
    border-bottom: 1px solid silver;
    margin-top: 55px;
}

.company{
    height: 100%;
    width: 25%;
    float: left;
    /* background-color: rgb(88, 163, 110); */
    /* margin: 0px 0px 0px 30px; */
}

.menu_option{
    margin-top: 20px;
    list-style: none;
}

.menu_option li{
    margin-top: 10px;
    font-family: arial;
    font-size: 15px;
    color: gray;
}
.company h3,.customer h3,.partner h3,
.social-links h3{
    font-family: arial;
}


.customer{
    height: 100%;
    width: 25%;
    float: left;
    /* background-color: rgb(152, 189, 19); */
    /* margin: 0px 0px 0px 30px; */
}

.partner{
    height: 100%;
    width: 25%;
    float: left;
    /* background-color: rgb(88, 163, 110); */
    /* margin: 0px 0px 0px 30px; */
}

.social-links{
    height: 100%;
    width: 25%;
    float: left;
    /* background-color: rgb(152, 189, 19); */
    /* margin: 0px 0px 0px 20px; */
}

.sec17-icon li{
	color:white;
	display: inline-block;
	/* margin-left: 5px; */
	margin-top: 20px;
	font-size: 20px;
	background-color: transparent;
	height: 35px;
	width: 35px;
	border-radius: 50%;
	border: 2px solid silver;
}

.sec17-icon i{
	margin: 9px 0px 0px 9px;
    color: black;

}

.social-links-im{
    height: 15%;
    width: 100%;
    float: left;
    margin: 20px 0px 0px 2px;
    /* background-color: aqua; */
    overflow: hidden;
}

.sec17-im3{
    height: 100%;
    width: 38%;
    float: left;
    /* overflow: hidden; */
    /* background-color: rgb(161, 228, 4); */
}

.sec17-im3 img{
    height: 100;
    width: 100%;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.2s all ease-in-out;
}

.sec17-im3 img:hover {
    transform: scale(1.02);
}

.all_rights{
    /* height: 10%; */
    width: 90%;
    float: left;
    /* background-color: aqua; */
    margin: 65px 0px 0px 68px;
}

.all_rights p{
    font-family: arial;
    font-size: 15px;
    color: gray;
}